<div id="home" class="home-container" [@fade-in]>
  <div class="video-container">
    <video
      id="video"
      type="video/mp4"
      src="../../../../assets/videos/alb_smokfx1019_1080p_24fps.mp4"
      autoplay
      loop
      muted
      [playbackRate]="0.5"
    ></video>
    <div id="particles-js" class="body"></div>
  </div>
  <div class="home-text-container">
    <h1>HI</h1>
    <h2>I´m <span> Reni Irinyi </span></h2>
    <p>A Software Developer</p>
    <app-links></app-links>
  </div>
</div>
