/*========================
ANIMATIONS
========================*/
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: rotate(0) translateX(250px) rotate(0);
  }
}

@mixin iconAnimation($translateX, $i) {
  $angle: -30deg * ($i + 1);
  $delay: $i * 2s;
  animation-delay: $delay;
  transform: rotate(#{$angle}) translateX($translateX) rotate(#{-$angle});
}

@keyframes rotateAndDisappear {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg) scale(0);
    opacity: 0;
  }
}
@mixin imgAnimation() {
  filter: none;
  opacity: 0.9;
  transform: scale(1.03);
}

@mixin imgGrayScale() {
  filter: grayscale(0.6);
  opacity: 0.6;
  transition: all 0.7s;
}
/*========================
========================*/
