/*========================
COLORS
========================*/
//WHITE
$white: #fff;
$white-light: #f0eff5;
$white-rose: #fbf1f5;
$white-grey: rgb(189, 187, 201);

//BLUE
$blue-light: #afbec6;
$blue-light1: #b8dbd9;
$blue-light2: #b6ebe7;
$blue-regular1: #40798c;
$blue-regular2: #2f4550;
$blue1: #151b3965;
$blue2: #1f2c3f;
$blue-dark: #111c30;

//ROSE
$rose-light-transparent1: #ffafcc18;
$rose-light-transparent2: #e39db72c;
$rose-light: #e39db7;
$rose: #ffafcc;
$rose-dark: #97516a;

//GREEN
$green-light3: #d3d6c0;
$green-light2: #d3d6c0c0;
$green-light: #cfd7c7;
$green-regular: #d3d6c0;
$green: #bec1a0;
$green-dark: #929861;

//OLIVE
$olive-light4: #3068548f;
$olive-light3: #619883;
$olive-light2: #75ba9f;
$olive-light1: #4f7e78;
$olive: #1d2e27;
$olive-dark3: #306853;
$olive-dark2: #0b2027;
$olive-dark1: #0a100e;

//SILBER
$silber-light: #c0c0c055;
$silber: #c0c0c0;

//FONTS
$light-fontColor: $white-light;
$regular-fontColor: $white;

$strong-fontColor: $olive-light1;
$strong2-fontColor: $blue-light;

//SUPPORT HEADER
$support-background: $olive-light4;

//BUTTON-BACKGROUND-COLORS
$button1: $olive-light3;
$button1-hover: $olive-light2;

//BACKGROUND
$html-background: $olive-dark1;
$main-background: $blue-regular2;

//HEADER
$background-header: $olive-light1;

//HOME
$home-highlight-fontColor: $green-light3;

//ABOUT
$background-about: $olive-dark3;
$strong-about: $green-light3;

//TECHSTACK
$stack-header: $green-light2;
$header-icons: $green-light2;
$techstack-highlight-fontColor: $olive-light2;

//PROJECTS
$projects-header: $olive-dark2;
$background-projects: $white-light;

//RESOURCES
$grey-fontColor: $blue-light;
$black-fontColor: $olive-dark1;
$background-light: $olive-light4;
$background-light-item: $green-light2;
$header-resources: $blue-light2;
$item-background: $silber-light;

//FOOTER
$background-footer: $olive-dark2;
$footer-fontColor: $blue-light;
/*========================
========================*/
