@import "../../../../../styles.scss";
/*========================
PROJECT COMPONENT
========================*/
app-support {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}

.project-container {
  position: relative;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  justify-content: center;
  background-color: $main-background;
}
.project {
  height: 100%;
}

strong {
  color: $strong2-fontColor;
}
.description {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: $main-background;
  border-radius: 5px;
  color: $light-fontColor;
  & p {
    display: flex;
    justify-self: center;
    align-self: center;
    @include font-size-p;
  }
  & img {
    border-radius: 15px;
  }

  &--2 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    & p {
      padding: 3rem;
      @include respond(large-phone) {
        padding: 5rem 0;
      }
      @include respond(tablet) {
        padding: 5rem;
      }
      @include respond(tablet, landscape) {
        padding: 7rem;
      }
      @include respond(desktop) {
        padding: 8rem;
      }
    }
  }
  &--3,
  &--1 {
    display: flex;

    & p {
      padding: 3rem;
      @include respond(large-phone) {
        padding: 5rem 0;
      }
      @include respond(tablet) {
        padding: 5rem;
      }
      @include respond(tablet, landscape) {
        padding: 7rem;
      }
      @include respond(desktop) {
        padding: 8rem;
      }
    }
  }
}

.text {
  display: flex;
  flex-direction: column;
  color: $regular-fontColor;
  padding: 4rem;
  @include respond(large-phone) {
    padding: 5rem;
  }
  @include respond(tablet) {
    padding: 5rem;
  }
  @include respond(tablet, landscape) {
    padding: 7rem;
  }
  @include respond(desktop) {
    padding: 8rem;
  }

  & p {
    margin-bottom: 1rem;
    line-height: 1.1;
    @include font-size-p;
  }
  & ul li a:hover {
    @include svgHover;
  }
  & ul,
  & li {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
  }
  & .svg {
    @include svg;
  }
  & .svg:nth-of-type(1) {
    margin-right: 1rem;
  }
}

.header-img-container,
.img-container {
  display: flex;
}
.img-container {
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  transition: all 1s;
  & div {
    display: flex;
    object-fit: cover;
    height: 100%;
    width: 100%;
    & img {
      opacity: 0.7;
      transition: all 0.7s;
      &:hover {
        @include imgAnimation;
      }
    }
  }
}
img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.btn-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
  padding: 2rem;
}
button {
  @include boxShadow;
  border-radius: 12px;
  display: flex;
  width: auto;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background-color: $button1;
  color: $regular-fontColor;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
  @include font-link;
  font-weight: 500 !important;
}

button:hover {
  background-color: $button1-hover;
}
/*========================
========================*/
