@import "../../../../styles.scss";
/*========================
SUPPORT COMPONENT
========================*/
.support-container {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}
.support-panel {
  @include button-regular;
  @include font-size-p;
  animation: bounce 5s infinite;
  background-color: $support-background;
  border-radius: $border-radius-xl;
  text-transform: none;
  @include respond(small-phone) {
    border-radius: $border-radius-regular;
  }
  & img {
    transition: all 1s;
    height: 1.7rem;
    width: 1.7rem;
    margin-right: 0.5rem;
    @include respond(small-phone) {
      height: 1.4rem;
      width: 1.4rem;
    }
  }
  & p {
    text-align: center;
  }
}
/*========================
========================*/
