@import "../../../../styles.scss";

.support-container {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}
.support-panel {
  display: flex;
  cursor: pointer;
  animation: bounce 5s infinite;
  text-decoration: none;
  border-radius: 10px;
  background-color: $support-background;
  padding: 0.5rem;
}
.support-panel img {
  transition: all 1s;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

.support-panel p {
  color: $white-light;
  align-self: center;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
