<div class="blog-container">
  <div class="left">
    <a [routerLink]="'/resources'" href="">
      <p>Ressources</p>
    </a>
    <p>Recent posts</p>
    <div class="sidebar" *ngFor="let post of posts">
      <ul>
        <li>
          <a (click)="selectPost(post)" [routerLink]="'/blog/:' + post.id">{{
            post.name
          }}</a>
        </li>
      </ul>
    </div>
  </div>
  <ng-container *ngIf="selectedPost">
    <div class="right">
      <h2>{{ selectedPost.name }}</h2>
      <p>{{ selectedPost.date }}</p>
      <div class="like-buttons">
        <a href="">
          <img
            src="../../../../assets/icons/icons8-clapping-hands-78.png"
            alt=""
          />
        </a>
      </div>
      <div class="share-buttons">
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
      <div class="img-container">
        <div>
          <img
            class="img-project"
            src="{{ selectedPost.img }}"
            alt="{{ selectedPost.name }}"
          />
        </div>
      </div>
      <p>{{ selectedPost.short }}</p>
      <p>{{ selectedPost.text }}</p>
      <p>{{ selectedPost.conclusion }}</p>
    </div>
  </ng-container>
</div>
