@import "../../../../styles.scss";

.blog-container {
  display: grid;

  grid-template-columns: 30% 1fr;
  grid-template-rows: auto;
  height: auto;
  max-width: 100%;
  min-height: 50rem;
  padding: 8rem 2rem;
  color: $light-fontColor;
  background-color: $blog-background;
  @include respond(small-phone) {
    padding: 2rem 0.5rem;
  }
}

.left {
  display: flex;
  flex-direction: column;
  color: $light-fontColor;
  padding: 0rem 1rem;
  @include font-size-p-tiny;

  & p {
    text-transform: uppercase;
    margin: 1rem 0;
    @include font-size-p;
    color: inherit;
  }
  & a {
    display: flex;
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 5px;
    padding: 3px;
    color: $light-fontColor;
    margin: 0.5rem 0;
  }
  & a:hover {
    background-color: $blog-hover;
  }
}
.sidebar {
  display: flex;
  flex-direction: column;
}

.right {
  opacity: 0;
  transition: all 1s;
  display: flex;
  @include font-size-p-tiny;
  border-left: solid 0.3px $blog-border;
  flex-direction: column;
  padding: 3.25rem 1rem;
  height: auto;
  color: $regular-fontColor;

  & h2 {
    width: 70%;
    @include font-size-h2;
    color: inherit;
    font-weight: 600;
  }

  & p {
    padding: 1rem 0;
    color: inherit;
  }
}
.show {
  opacity: 1;
}
.codeSnippet {
  border-radius: 5px;
  display: flex;
  height: auto;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.img-container {
  align-items: center;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
  transition: all 1s;
  & div {
    display: flex;
    object-fit: cover;
    height: auto;
    width: 100%;
    & img {
      height: 100%;
      width: 100%;
      opacity: 0.6;
      transition: all 0.7s;
      &:hover {
        @include imgAnimation;
      }
    }
  }
}
.references {
  display: flex;
  flex-direction: column;

  & p,
  & a {
    color: inherit;
    text-decoration: none;
  }
}
