@import "../../../../styles.scss";
/*========================
RESOURCES COMPONENT
========================*/
.resources-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: $resources-mainbackground;
  position: relative;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15rem;
  padding: 2rem;
  background-color: $header-background;
  @include font-size-p;
  color: $regular-fontColor;
  & h1 {
    @include font-size-h2;
    padding-bottom: 1rem;
  }
}
ul {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $buttons-background;
  padding: 1rem;
}

li {
  @include button-regular;
  margin: 0.5rem;
  & a {
    @include font-size-p-xxs;
    color: $black-fontColor;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s;
  }
}

li:hover {
  @include button-hover;
}

.categories-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  height: auto;
  justify-content: center;

  & h3 {
    @include font-size-p;
    display: flex;
    color: $header-resources;
    height: 5rem;
    align-items: center;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
  }
}
.category-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.item {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-color: $item-background;
  border-radius: $border-radius-small;
  margin: 1rem;
  overflow: hidden;
  transition: all 0.5s;
  width: 16rem;
  height: 20rem;
  @include boxShadow-ligth;
  @include respond(small-phone) {
    width: 8rem;
    height: 10rem;
  }
  &-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $background-light-item;
    height: 60%;
    bottom: 0;
    width: 100%;

    &-container {
      margin: 1rem;
      @include respond(small-phone) {
        margin: 0.5rem;
      }
    }

    & p {
      color: $black-fontColor;
      text-decoration: none;
      @include font-size-p-tiny;
      @include respond(small-phone) {
        font-size: $fontSize-p-xxs;
      }
    }
    & p:nth-of-type(1) {
      color: $black-fontColor;
      padding: 0.5rem 0;
      font-weight: 600 !important;
      @include font-size-p-tiny;
      @include respond(small-phone) {
        font-size: $fontSize-p-xxs;
        padding: 0.25rem 0;
      }
    }
  }
  &-img {
    @include img;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.4;
  }
}
.item:hover {
  filter: brightness(1.1);
  @include boxShadow-dark;

  & img {
    opacity: 0.6;
  }
}

.button-container {
  @include button-regular;
  background-color: $resource-button;
  border-radius: 0;
  & a {
    color: $black-fontColor;
  }
}
.button-container:hover {
  @include button-hover;
}
/*========================
========================*/
