<!-- resources-component -->
<div class="resources-container" id="resources">
  <nav>
    <ul>
      <li *ngFor="let category of categories">
        <a
          (click)="scrollTo(category.name.toLowerCase())"
          href="javascript:void(0)"
          >{{ category.name }}</a
        >
      </li>
    </ul>
  </nav>
  <section
    *ngFor="let category of categories"
    class="categories-container"
    id="{{ category.name.toLowerCase() }}"
  >
    <h3>{{ category.header }}</h3>
    <div class="category-item-container">
      <ng-container
        *ngFor="let resource of getResourcesByCategory(category.name)"
      >
        <a class="item" href="{{ resource.url }}" target="_blank">
          <img class="item-img" src="{{ resource.img }}" alt="" />
          <div class="item-text">
            <div class="item-text-container">
              <p>
                {{ resource.name }}
              </p>
              <p>{{ resource.info }}</p>
            </div>
          </div>
        </a>
      </ng-container>
    </div>
  </section>
  <div (click)="scrollTo('resources')" class="button-container">
    <a href="javascript:void(0)">
      <fa-icon class="svg" [icon]="faArrowUp"></fa-icon>
    </a>
  </div>
</div>
<!-- resources-component ends -->
