<div id="techstack" class="techstack-container">
  <div class="header">
    <h1><strong> Tech</strong>-Stack</h1>
  </div>
  <div class="tech-container">
    <video
      src="../../assets/videos/laptop_-_1625 (Original).mp4"
      autoplay
      loop
      muted
    ></video>
    <div class="stack__icons">
      <a href="https://angular.io/">
        <img
          class="svg"
          src="../../../../assets/icons/angular-svgrepo-com.svg"
          alt=""
        />
      </a>
      <a href="https://sass-lang.com/">
        <img
          class="svg"
          src="../../../../assets/icons/brand-sass-svgrepo-com.svg"
          alt=""
        />
      </a>
      <a href="https://git-scm.com/">
        <img
          class="svg"
          src="../../../../assets/icons/git-svgrepo-com.svg"
          alt=""
        />
      </a>
      <a href="https://hibernate.org/">
        <img
          class="svg"
          src="../../../../assets/icons/hibernate-svgrepo-com.svg"
          alt=""
        />
      </a>
      <a href="https://www.mysql.com/de/">
        <img
          class="svg"
          src="../../../../assets/icons/mysql-svgrepo-com.svg"
          alt=""
        />
      </a>
      <a
        href="https://de.wikipedia.org/wiki/HTML5#:~:text=HTML5%20ist%20die%20f%C3%BCnfte%20Fassung,vorwiegend%20im%20World%20Wide%20Web."
      >
        <img
          class="svg"
          src="../../../../assets/icons/html-124-svgrepo-com.svg"
          alt=""
        />
      </a>
      <a href="https://www.java.com/de/">
        <img
          class="svg"
          src="../../../../assets/icons/java-svgrepo-com.svg"
          alt=""
        />
      </a>
      <a href="https://www.javascript.com/">
        <img
          class="svg"
          src="../../../../assets/icons/javascript-155-svgrepo-com.svg"
          alt=""
        />
      </a>
      <a href="https://maven.apache.org/">
        <img
          class="svg"
          src="../../../../assets/icons/apachemaven-svgrepo-com.svg"
          alt=""
        />
      </a>
      <a href="https://nodejs.org/en/about">
        <img
          class="svg"
          src="../../../../assets/icons/node-svgrepo-com.svg"
          alt=""
        />
      </a>
      <a href="https://github.com/">
        <img
          class="svg"
          src="../../../../assets/icons/github-142-svgrepo-com.svg"
          alt=""
        />
      </a>
      <a href="https://react.dev/">
        <img
          class="svg"
          src="../../../../assets/icons/react-svgrepo-com.svg"
          alt=""
        />
      </a>
      <a href="https://www.typescriptlang.org/">
        <img
          class="svg"
          src="../../../../assets/icons/typescript-svgrepo-com.svg"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
