@import "../../../../styles.scss";
/*========================
TECHSTACK COMPONENT
========================*/
.techstack-container {
  background-color: $main-background;
  height: 80rem;
  display: flex;
  flex-direction: column;
  position: relative;
  @include respond(small-phone) {
    height: 70rem;
  }
}

.header {
  display: flex;
  flex-direction: column;
}
h1 {
  color: $light-fontColor;
  font-weight: 400;
  z-index: 1;
  text-align: center;
  padding-top: 2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  @include font-size-h1;
}

strong {
  color: $techstack-highlight-fontColor;
}
video {
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0.1;
}
.tech-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.stack-container {
  padding: 2rem;
}

.stack {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;

    & fa-icon {
      display: flex;
      align-items: center;
      @include font-size-p;

      filter: invert(0);
      color: $header-icons;
    }

    & h2 {
      color: $stack-header;
      text-transform: uppercase;
      align-self: center;
      margin-left: 1rem;
      @include font-size-p;
    }
  }
  &-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    z-index: 1;
  }
}
.svg-container {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  background-color: $silber-light;
  transition: all 0.5s;
  padding: 1.7rem;
  width: 6rem;
  height: 6rem;
  margin: 0.2rem;
  border-radius: $border-radius-small;
  text-decoration: none;

  &:hover {
    @include hover;
  }
  @include respond(small-phone) {
    width: 3rem;
    height: 3rem;
  }
  & p {
    @include font-size-p-xxs;
    font-weight: 400 !important;
    color: $white-light;
    margin: 0.5rem 0;
    text-transform: uppercase;
  }
}
.svg {
  display: flex;
  width: auto;
  height: 3rem;
  filter: invert(0.8);
  @include respond(small-phone) {
    width: 2rem;
    height: 2rem;
  }

  &-kendo {
    color: #fff;
    filter: grayscale(1) invert(0.8);
  }

  &-php {
    filter: grayscale(1) invert(0.8);
    color: #fff;
  }
}

/*========================
========================*/
