<div id="techstack" class="techstack-container">
  <div class="header">
    <h1><strong> Tech</strong>-Stack</h1>
  </div>

  <div class="tech-container">
    <video
      src="../../../../assets/videos/24c9818e-c0b9-4796-a8b2-e2328764365d.mp4"
      autoplay
      loop
      muted
    ></video>
    <div class="stack-container">
      <div class="stack">
        <div class="stack-header">
          <fa-icon class="svg" [icon]="faCode"></fa-icon>
          <h2>Languages</h2>
        </div>
        <div class="stack-icons">
          <a
            target="_blank"
            class="svg-container"
            href="https://www.java.com/de/"
          >
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/java-svgrepo-com.svg"
              alt="svg"
            />
            <p>Java</p>
          </a>
          <a
            target="_blank"
            class="svg-container"
            href="https://www.javascript.com/"
          >
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/javascript-155-svgrepo-com.svg"
              alt="svg"
            />
            <p>JavaScript</p>
          </a>

          <a
            target="_blank"
            class="svg-container"
            href="https://www.typescriptlang.org/"
          >
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/typescript-svgrepo-com.svg"
              alt="svg"
            />
            <p>TypeScript</p>
          </a>
          <a
            target="_blank"
            class="svg-container"
            href="https://www.typescriptlang.org/"
          >
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/php01-svgrepo-com.svg"
              alt="svg"
            />
            <p>php</p>
          </a>
        </div>
      </div>

      <div class="stack">
        <div class="stack-header">
          <fa-icon class="svg" [icon]="faScrewdriverWrench"></fa-icon>
          <h2>Frameworks & Tools</h2>
        </div>
        <div class="stack-icons">
          <a target="_blank" class="svg-container" href="https://angular.io/">
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/docker-svgrepo-com.svg"
              alt="svg"
            />
            <p>Docker</p>
          </a>
          <a target="_blank" class="svg-container" href="https://angular.io/">
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/angular-svgrepo-com.svg"
              alt="svg"
            />
            <p>Angular</p>
          </a>
          <a
            target="_blank"
            class="svg-container"
            href="https://maven.apache.org/"
          >
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/apachemaven-svgrepo-com.svg"
              alt="svg"
            />
            <p>Maven</p>
          </a>
          <a
            target="_blank"
            class="svg-container"
            href="https://sass-lang.com/"
          >
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/brand-sass-svgrepo-com.svg"
              alt="svg"
            />
            <p>Sass</p>
          </a>
          <a target="_blank" class="svg-container" href="https://git-scm.com/">
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/git-svgrepo-com.svg"
              alt="svg"
            />
            <p>Git</p>
          </a>
          <a target="_blank" class="svg-container" href="https://github.com/">
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/github-142-svgrepo-com.svg"
              alt="svg"
            />
            <p>GitHub</p>
          </a>
          <a
            target="_blank"
            class="svg-container"
            href="https://nodejs.org/en/about"
          >
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/node-svgrepo-com.svg"
              alt="svg"
            />
            <p>Node.js</p>
          </a>
        </div>
      </div>
      <div class="stack">
        <div class="stack-header">
          <fa-icon class="svg" [icon]="faDatabase"></fa-icon>
          <h2>Data</h2>
        </div>
        <div class="stack-icons">
          <a
            target="_blank"
            class="svg-container"
            href="https://hibernate.org/"
          >
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/hibernate-svgrepo-com.svg"
              alt="svg"
            />
            <p>Hibernate</p>
          </a>
          <a
            target="_blank"
            class="svg-container"
            href="https://www.mysql.com/de/"
          >
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/mysql-svgrepo-com.svg"
              alt="svg"
            />
            <p>MySQL</p>
          </a>
        </div>
      </div>
      <div class="stack">
        <div class="stack-header">
          <fa-icon class="svg" [icon]="faMagicWandSparkles"></fa-icon>
          <h2>IDE</h2>
        </div>
        <div class="stack-icons">
          <a
            target="_blank"
            class="svg-container"
            href="https://code.visualstudio.com/"
          >
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/vscode-fill-svgrepo-com.svg"
              alt="svg"
            />
            <p>Visual Studio</p>
          </a>
          <a
            target="_blank"
            class="svg-container"
            href="
            https://www.jetbrains.com/"
          >
            <img
              width="10"
              height="10"
              class="svg"
              src="../../../../assets/icons/intellijidea-svgrepo-com.svg"
              alt="svg"
            />
            <p>IntelliJ</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
