/*========================
APP-COMPONENT
========================*/
div {
  display: flex;
  flex-direction: column;
}

app-header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
/*========================
========================*/
