@import "../styles.scss";
/*========================
APP-COMPONENT
========================*/
div {
  display: flex;
  flex-direction: column;
}

app-header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 4rem;
  @include respond(desktop) {
    height: 5rem;
  }
}
/*========================
========================*/
