<div id="about" class="about-container">
  <div class="content">
    <div class="img-container">
      <div class="img-frame">
        <img
          src="../../../../assets/img/portfolio2.png"
          alt="photo of Reni Irinyi"
          width="10"
          height="10"
        />
      </div>
    </div>
    <div class="text-container">
      <p>
        <strong class="container-header">Hi, my name is Reni</strong>, and I am
        absolutely passionate about coding.
      </p>

      <p>
        My fascination lies at the crossroads of art and technology, where I
        have boldly explored various mediums from Paint and Photoshop to CSS,
        embracing each new challenge with enthusiasm.
      </p>

      <p>
        Currently working at greenSys AG, I am further honing my skills in
        application development, continually seeking to blend technical
        expertise with artistic flair.
      </p>
    </div>
  </div>
</div>
