@import "../../../../styles.scss";
/*========================
ABOUT COMPONENT
========================*/
.about-container {
  background-color: $main-background;
  margin: 0 auto;
  height: auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  @include respond(small-phone) {
    height: 75rem;
  }
  @include respond(tablet, landscape) {
    padding: 5rem;
  }
  @include respond(desktop) {
    padding: 8rem;
  }
  & .content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 40% 1fr;
    padding: 2rem;
    grid-gap: 2rem;
    height: 100%;
    align-self: center;
    @include respond(small-phone) {
      grid-template-rows: 40% 1fr;
      grid-template-columns: 1fr;
    }
    @include respond(tablet) {
      grid-gap: 3rem;
    }
    @include respond(tablet, landscape) {
      grid-gap: 4rem;
    }
    @include respond(desktop) {
      grid-gap: 5rem;
    }
  }
}
.img-container {
  @include img-container;
  & .img-frame {
    @include img-frame;
    & img {
      @include img;
      &:hover {
        @include imgAnimation;
      }
    }
  }
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  @include respond(tablet) {
    padding: 2rem 0;
  }
  @include respond(tablet, landscape) {
    padding: 3rem 0;
  }
  @include respond(desktop) {
    padding: 4rem 0;
  }
  .container-header {
    background-color: $background-about;
    color: $regular-fontColor;
  }
  strong {
    background-color: none;
    color: $strong2-fontColor;
  }
  p {
    padding: 0.5rem 0;
    text-align: left;
    line-height: $line-height-small;
    color: $light-fontColor;
    @include font-size-p;
  }
}
/*========================
========================*/
