<div id="about" class="about-container">
  <div class="content">
    <div class="img-container">
      <div class="img-frame">
        <img
          src="../../../../assets/img/portfolio2.png"
          alt="photo of Reni Irinyi"
          width="10"
          height="10"
        />
      </div>
    </div>
    <div class="text-container">
      <p>
        <strong class="container-header">Hi, my name is Reni </strong>
        , and I am absolut in love with coding.
      </p>

      <p>
        I have always been fascinated by the intersection of art and technology,
        and I have
        <strong> never been afraid to dive in and try it out</strong>, whether
        it's Paint, Photoshop, or CSS.
      </p>
      <p>
        In 2022, after completing my degree in economics, I finally immersed
        myself in coding and web development.
      </p>

      <p>
        I have a <strong> strong passion for design work</strong>, and I enjoy
        inventing and implementing new things and animations. Additionally,
        since completing the SGD development training, I have been increasingly
        involved in creating <strong> server-side applications</strong>, which I
        also really enjoy.
      </p>

      <p>
        I am eager to collaborate with like-minded individuals who share the
        same enthusiasm.
      </p>
    </div>
  </div>
</div>
