<!-- projects-component -->
<div class="projects-container">
  <div id="projects">
    <ng-container *ngFor="let project of projects">
      <div class="project-container">
        <div class="header-container">
          <div
            [routerLink]="'/project/' + project.idNumber"
            class="img-container {{ project.id }}"
          >
            <a>
              <img src="{{ project.header }}" alt="{{ project.id }}" />
            </a>
          </div>
          <div class="text-container">
            <a>
              <p>{{ project.name }}</p>
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<!-- projects-component ends -->
