@import "../../../../../styles.scss";
/*========================
PROJECTS COMPONENT
========================*/
.projects-container {
  z-index: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
  justify-content: center;
  background-color: $background-dark;
  @include respond(small-phone) {
    padding: 4rem 0.5rem;
  }
  @include respond(desktop) {
    padding: 8rem 8rem;
  }
  & div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.project-container {
  display: flex;
  align-self: center;
  justify-self: center;
  border-radius: $border-radius-regular;
  overflow: hidden;
  margin: 1rem;
  width: 15rem;
  height: 20rem;
  @include boxShadow-dark;
  @include respond(small-phone) {
    width: 10rem;
    height: 15rem;
  }
  @include respond(desktop) {
    width: 20rem;
    height: 25rem;
  }
}

.header-container {
  position: relative;
  height: 100%;
  z-index: 2;
}
.header-container::after {
  position: absolute;
  z-index: 2;
  content: "";
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  cursor: pointer;
  height: 9rem;
  width: 9rem;
  transition: transform 0.5s ease-in-out;
  transform: rotate(90deg);
  background-color: $background-projects;
  opacity: 0.8;
  top: 28%;
  left: 20%;

  @include respond(small-phone) {
    top: 29%;
    height: 6rem;
    width: 6rem;
  }
  @include respond(tablet) {
    top: 25%;
  }
  @include respond(desktop) {
    top: 25%;
    height: 12rem;
    width: 12rem;
  }
}
.project-container:hover .header-container::after,
.project-container:hover .text-container {
  animation: rotateAndDisappear 0.4s forwards;
}
.project-container:hover img {
  @include imgAnimation;
}
.img-container {
  @include img-container;
  align-items: normal;
}
img {
  @include img;
}
.text-container {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 5;
  height: 100%;
  width: 100%;

  & a {
    align-self: center;
    justify-self: center;
    padding: 0.7rem 0;
    @include font-projects-header;
    @include respond(small-phone) {
      padding: 0.5rem 0;
      font-size: $fontSize-p-xxs;
    }
    @include respond(desktop) {
      padding: 0.9rem 0;
    }
  }
}

/*========================
========================*/
